<button *ngIf="fabVisible"  id="fab" class="btn btn-primary" style="position: fixed;
  bottom: 5%; right: 5%; z-index: 100" (click)="topFunction()">
  <span class="glyphicon glyphicon-triangle-top"></span>
</button>
<div *ngIf="showCookieWarning" style="z-index: 10; position: absolute;
  width: 100%; height: 100%;">
  <div style="position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); text-align: center;">
    <h4>Info</h4>
    <p>
      This website stores information about its users to improve the experience of the service provided. No information is shared with other parties
    </p>
    <button class="btn btn-success btn-sm" (click)="closeWarning()">OK</button>
  </div>
</div>

<div class="row" *ngIf="!showCookieWarning">
  <div class="col-md-2">
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4" style="border:0.1em solid black; font-size:1.5em;">
    <div class="col-md-8">Net Profit/Loss</div>
    <div class="col-md-4" [ngClass]="getTotalProfitLoss() * currencyMultiplier < 0 ? 'red' : 'green'">
      {{getTotalProfitLoss() * currencyMultiplier | number:'1.2-2'}}
    </div>
  </div>
  <div class="col-md-1" >
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <button class="btn btn-warning btn-sm" (click)="resetStock()">Reset Stock</button>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="col-md-1">
    <div class="dropdown" dropdown>
      <button type="button" class="btn btn-default btn-sm btn-block dropdown-toggle" dropdownToggle>{{currency}} ▼ </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li><a (click)="setCurrencyMultiplier('EUR')" class="btn btn-default btn-block" href="#">EUR</a></li>
        <li><a (click)="setCurrencyMultiplier('USD')" class="btn btn-default btn-block" href="#">USD</a></li>
        <li><a (click)="setCurrencyMultiplier('GBP')" class="btn btn-default btn-block" href="#">GBP</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-2" >
    <div class="col-md-9">
      <div class="dropdown" dropdown *ngIf="mode === 'test mode'">
        <button type="button" class="btn btn-default btn-sm btn-block dropdown-toggle" dropdownToggle>{{caseScenario}} ▼ </button>
        <ul class="dropdown-menu" dropdownMenu>
          <li><a (click)="setCaseMultiplier('Reset original')" class="btn btn-default btn-block" href="#">Reset original</a></li>
          <li><a (click)="setCaseMultiplier('case1 +10%')" class="btn btn-default btn-block" href="#">case1 +10%</a></li>
          <li><a (click)="setCaseMultiplier('case2 -10%')" class="btn btn-default btn-block" href="#">case2 -10%</a></li>
          <li><a (click)="setCaseMultiplier('case3 +20%')" class="btn btn-default btn-block" href="#">case3 +20%</a></li>
          <li><a (click)="setCaseMultiplier('case4 -20%')" class="btn btn-default btn-block" href="#">case4 -20%</a></li>
          <li><a (click)="setCaseMultiplier('case5 +100%')" class="btn btn-default btn-block" href="#">case5 +100%</a></li>
          <li><a (click)="setCaseMultiplier('Live')" class="btn btn-default btn-block" href="#">Live</a></li>
        </ul>
      </div>
    </div>
    <div *ngIf="caseScenario === 'Live'" class="col-md-1">
      <button class="btn btn-sm btn-default" (click)="getFormattedPrices()"><span class="glyphicon glyphicon-refresh"></span></button>
    </div>
  </div>
</div>
<div *ngIf="authService.currentUser && !showCookieWarning">
  <app-tabletop></app-tabletop>
  <div class="row" *ngIf="cash > 0" style="font-size:0.9em;">
    <div class="col-md-4">
      <div class="col-md-4">Cash Holding</div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
    </div>
    <div class="col-md-4" style="text-align:right">
      <div class="col-md-2">1</div>
      <div class="col-md-3"></div>
      <div class="col-md-3">{{cash | currency:'EUR'}}</div>
      <div class="col-md-2">{{cash | currency:'EUR'}}</div>
      <div class="col-md-2"></div>
    </div>
    <div class="col-md-4" style="text-align:right">
      <div class="col-md-2">{{cash | currency:'EUR'}}</div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div *ngFor="let stock of authService.currentUser.holdings">
    <div class="row" style="margin-top:1em; font-size:0.9em;" *ngFor="let share of stock.shares">
      <div class="col-md-4">
        <div class="col-md-1"><span class="glyphicon glyphicon-remove" (click)="removeShare(stock.symbol, share._id)"></span></div>
        <div class="col-md-3">{{stock.displayName}}</div>
        <div class="col-md-2" style="word-wrap: break-word; margin-right: 0.5em;">{{stock.exchange}}</div>
        <div class="col-md-2">{{stock.symbol}}</div>
        <div class="col-md-2">{{share.dateIn | date:'dd/MM/yyyy'}}</div>
        <div class="col-md-2"></div>
      </div>
      <div class="col-md-4" style="text-align:right">
        <div class="col-md-2">{{share.quantity}}</div>
        <div class="col-md-3"></div>
        <div class="col-md-3">{{getCost(share.quantity, share.purchasePrice) * currencyMultiplier | number:'1.2-2'}}</div>
        <div class="col-md-2">{{share.purchasePrice * currencyMultiplier | number:'1.2-2'}}</div>
        <div class="col-md-2">{{getDefaultPrice(stock.symbol) * currencyMultiplier | number:'1.2-2'}}</div>
      </div>
      <div class="col-md-4" style="text-align:right">
        <div class="col-md-2" >{{getValue(stock.symbol, share.quantity) * currencyMultiplier | number:'1.2-2'}}</div>
        <div class="col-md-3"  [ngClass]="getDetailGainLoss(stock.symbol, share.quantity, share.purchasePrice) * currencyMultiplier < 0 ? 'red' : 'green'">
          {{getDetailGainLoss(stock.symbol, share.quantity, share.purchasePrice) * currencyMultiplier | number:'1.2-2'}}
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-2" [ngClass]="getGainLossPercentage(stock.symbol, share.quantity, share.purchasePrice) < 0 ? 'red' : 'green'">
          {{getGainLossPercentage(stock.symbol, share.quantity, share.purchasePrice) | percent: '1.0-0'}}
        </div>
        <div class="col-md-2">{{getSellingCosts(stock.symbol, share.quantity) * currencyMultiplier | number:'1.2-2'}}</div>
      </div>
    </div>
    <div class="row" style="font-size:0.9em;" *ngIf="getTotalQuantity(stock.symbol) > 0">
      <div class="col-md-4">
      </div>
      <div class="col-md-4" style="text-align: center;">
        <div class="col-md-2"></div>
        <div class="col-md-3">{{getTotalQuantity(stock.symbol)}}</div>
        <div class="col-md-7"></div>
      </div>
      <div class="col-md-4" style="text-align: center;">
        <div class="col-md-5"></div>
        <div class="col-md-3" [ngClass]="getTotalGainLoss(stock.symbol) * currencyMultiplier < 0 ? 'red' : 'green'">{{getTotalGainLoss(stock.symbol) * currencyMultiplier | number:'1.2-2'}}</div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
  <hr style="border: 0.1em solid black">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-5" style="text-align:right">
      <div class="col-md-4">Purchase Price Total = </div>
      <div class="col-md-3"> {{getTotalCost() * currencyMultiplier | number:'1.2-2'}} </div>
      <div class="col-md-4">Gross Present Value = </div>
      <div class="col-md-1"></div>
    </div>
    <div class="col-md-4" style="text-align:right">
      <div class="col-md-2"> {{getTotalGPV() * currencyMultiplier | number:'1.2-2'}} </div>
      <div class="col-md-10"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-5" style="text-align:right">
      <div class="col-md-4">Total Sell Costs = </div>
      <div class="col-md-3"> {{getTotalSellingCosts() * currencyMultiplier | number:'1.2-2'}} </div>
      <div class="col-md-4">GPV after Sell Costs = </div>
      <div class="col-md-1"></div>
    </div>
    <div class="col-md-4" style="text-align:right">
      <div class="col-md-2"> {{(getTotalGPV() - getTotalSellingCosts()) * currencyMultiplier | number:'1.2-2'}} </div>
      <div class="col-md-3"></div>
      <div class="col-md-3" [ngClass]="getTotalProfitLoss() * currencyMultiplier < 0 ? 'red' : 'green'">
        {{getTotalProfitLoss() * currencyMultiplier | number:'1.2-2'}}
      </div>
      <div class="col-md-4" [ngClass]="getTotalProfitLoss() * currencyMultiplier < 0 ? 'red' : 'green'">
        = Gross {{getTotalProfitLoss() * currencyMultiplier < 0 ? 'Loss' : 'Profit'}}
      </div>
    </div>
  </div>
  <hr style="border: 0.1em solid black">
</div>
<div class="row" *ngIf="authService.currentUser && authService.currentUser.holdings.length > 0 && !showCookieWarning" style="margin-right: 1em; margin-bottom: 5em;">
  <div class="col-md-8">

  </div>
  <div class="col-md-2">
    <input type="text" [ngClass]="symbolValid ? 'background: white' : 'background: red'" placeholder="stock symbol" #stockSymbol
           (keyup)="setStockSymbol(stockSymbol.value)" style="width: 96%; margin-top: 0.15em;" id="stockSymbol">
  </div>
  <div class="col-md-1">
    <input type="number" [ngClass]="quantityValid ? 'background: white' : 'background: red'" placeholder="quantity" #shareQuantity
           (keyup)="setSellingQuantity(shareQuantity.value)" style="width: 96%; margin-top: 0.15em;" [disabled]="!symbolValid || stockForSaleSymbol === ''" id="shareQuantity">
  </div>
  <div class="col-md-1">
    <button class="btn btn-success btn-block" (click)="sellShares()" [disabled]="!symbolValid || !quantityValid || !quantityForSale ">Sell</button>
  </div>
</div>
