<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome {{email}}</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a (click)="authService.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col-md-2">
    <h4 (click)="toggleHoldins()" style="margin-left: 1em;">
      Holdings <span [ngClass]="holdingsVisible ? 'glyphicon glyphicon-minus' : 'glyphicon glyphicon-plus'"></span>
    </h4>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4" style="border:0.1em solid black; font-size:1.5em;">
    <div class="col-md-8">Net Profit/Loss</div>
    <div class="col-md-4" [ngClass]="getTotalProfitLoss() * currencyMultiplier < 0 ? 'red' : 'green'">
      {{getTotalProfitLoss() * currencyMultiplier | number:'1.2-2'}}
    </div>
  </div>
  <div class="col-md-1" >
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <button class="btn btn-warning btn-sm" (click)="resetStock()">Reset Stock</button>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="col-md-1">
    <div class="dropdown" dropdown>
      <button type="button" class="btn btn-default btn-sm btn-block dropdown-toggle" dropdownToggle>{{currency}}</button>
      <ul class="dropdown-menu" dropdownMenu>
        <li><a (click)="setCurrencyMultiplier('EUR')" class="btn btn-default btn-block" href="#">EUR</a></li>
        <li><a (click)="setCurrencyMultiplier('USD')" class="btn btn-default btn-block" href="#">USD</a></li>
        <li><a (click)="setCurrencyMultiplier('GBP')" class="btn btn-default btn-block" href="#">GBP</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-2" >
    <div class="col-md-9">
      <div class="dropdown" dropdown *ngIf="mode === 'test mode'">
        <button type="button" class="btn btn-default btn-sm btn-block dropdown-toggle" dropdownToggle>{{caseScenario}}</button>
        <ul class="dropdown-menu" dropdownMenu>
          <li><a (click)="setCaseMultiplier('Reset original')" class="btn btn-default btn-block" href="#">Reset original</a></li>
          <li><a (click)="setCaseMultiplier('case1 +10%')" class="btn btn-default btn-block" href="#">case1 +10%</a></li>
          <li><a (click)="setCaseMultiplier('case2 -10%')" class="btn btn-default btn-block" href="#">case2 -10%</a></li>
          <li><a (click)="setCaseMultiplier('case3 +20%')" class="btn btn-default btn-block" href="#">case3 +20%</a></li>
          <li><a (click)="setCaseMultiplier('case4 -20%')" class="btn btn-default btn-block" href="#">case4 -20%</a></li>
          <li><a (click)="setCaseMultiplier('case5 +100%')" class="btn btn-default btn-block" href="#">case5 +100%</a></li>
          <li><a (click)="setCaseMultiplier('Live')" class="btn btn-default btn-block" href="#">Live</a></li>
        </ul>
      </div>
    </div>
    <!--<div class="col-md-9" *ngIf="mode === 'real mode'">-->

    <!--</div>-->
    <div *ngIf="caseScenario === 'Live'" class="col-md-1">
      <button class="btn btn-sm btn-default" (click)="getFormattedPrices()"><span class="glyphicon glyphicon-refresh"></span></button>
    </div>
  </div>
</div>
<div *ngIf="holdingsVisible">
  <app-tabletop></app-tabletop>
  <div class="row" *ngIf="cash > 0">
    <div class="col-md-4">
      <div class="col-md-4">Cash Holding</div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
    </div>
    <div class="col-md-4" style="text-align:right">
      <div class="col-md-2">1</div>
      <div class="col-md-3"></div>
      <div class="col-md-3">{{cash | currency:'EUR'}}</div>
      <div class="col-md-2">{{cash | currency:'EUR'}}</div>
      <div class="col-md-2"></div>
    </div>
    <div class="col-md-4" style="text-align:right">
      <div class="col-md-2">{{cash | currency:'EUR'}}</div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div *ngFor="let stock of stocksHeld">
    <div class="row" style="margin-top:1em" *ngFor="let share of stock.shares">
      <div class="col-md-4">
        <div class="col-md-4">{{stock.displayName}}</div>
        <div class="col-md-2" style="word-wrap: break-word; margin-right: 0.5em;">{{stock.exchange}}</div>
        <div class="col-md-2">{{stock.symbol}}</div>
        <div class="col-md-2">{{share.dateIn | date:'dd/MM/yyyy'}}</div>
        <div class="col-md-2"></div>
      </div>
      <div class="col-md-4" style="text-align:right">
        <div class="col-md-2">{{share.quantity}}</div>
        <div class="col-md-3"></div>
        <div class="col-md-3">{{getCost(share.quantity, share.purchasePrice) * currencyMultiplier | number:'1.2-2'}}</div>
        <div class="col-md-2">{{share.purchasePrice * currencyMultiplier | number:'1.2-2'}}</div>
        <div class="col-md-2">{{getDefaultPrice(stock.symbol) * currencyMultiplier | number:'1.2-2'}}</div>
      </div>
      <div class="col-md-4" style="text-align:right">
        <div class="col-md-2" style="text-align:right;">{{getValue(stock.symbol, share.quantity) * currencyMultiplier | number:'1.2-2'}}</div>
        <div class="col-md-3"  [ngClass]="getDetailGainLoss(stock.symbol, share.quantity, share.purchasePrice) * currencyMultiplier < 0 ? 'red' : 'green'">
          {{getDetailGainLoss(stock.symbol, share.quantity, share.purchasePrice) * currencyMultiplier | number:'1.2-2'}}
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-2" [ngClass]="getGainLossPercentage(stock.symbol, share.quantity, share.purchasePrice) < 0 ? 'red' : 'green'">
          {{getGainLossPercentage(stock.symbol, share.quantity, share.purchasePrice) | percent: '1.0-0'}}
        </div>
        <div class="col-md-2">{{getSellingCosts(stock.symbol, share.quantity) * currencyMultiplier | number:'1.2-2'}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4" style="text-align: center;">
        <div class="col-md-2"></div>
        <div class="col-md-3">{{getTotalQuantity(stock.symbol)}}</div>
        <div class="col-md-7"></div>
      </div>
      <div class="col-md-4" style="text-align: center;">
        <div class="col-md-5"></div>
        <div class="col-md-3" [ngClass]="getTotalGainLoss(stock.symbol) * currencyMultiplier < 0 ? 'red' : 'green'">{{getTotalGainLoss(stock.symbol) * currencyMultiplier | number:'1.2-2'}}</div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
  <hr style="border: 0.1em solid black">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-5" style="text-align:right">
      <div class="col-md-4">Purchase Price Total = </div>
      <div class="col-md-3"> {{getTotalCost() * currencyMultiplier | number:'1.2-2'}} </div>
      <div class="col-md-4">Gross Present Value = </div>
      <div class="col-md-1"></div>
    </div>
    <div class="col-md-4" style="text-align:right">
      <div class="col-md-2"> {{getTotalGPV() * currencyMultiplier | number:'1.2-2'}} </div>
      <div class="col-md-10"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-5" style="text-align:right">
      <div class="col-md-4">Total Sell Costs = </div>
      <div class="col-md-3"> {{getTotalSellingCosts() * currencyMultiplier | number:'1.2-2'}} </div>
      <div class="col-md-4">GPV after Sell Costs = </div>
      <div class="col-md-1"></div>
    </div>
    <div class="col-md-4" style="text-align:right">
      <div class="col-md-2"> {{(getTotalGPV() - getTotalSellingCosts()) * currencyMultiplier | number:'1.2-2'}} </div>
      <div class="col-md-3"></div>
      <div class="col-md-3" [ngClass]="getTotalProfitLoss() * currencyMultiplier < 0 ? 'red' : 'green'">
        {{getTotalProfitLoss() * currencyMultiplier | number:'1.2-2'}}
      </div>
      <div class="col-md-4" [ngClass]="getTotalProfitLoss() * currencyMultiplier < 0 ? 'red' : 'green'">
        = Gross {{getTotalProfitLoss() * currencyMultiplier < 0 ? 'Loss' : 'Profit'}}
      </div>
    </div>
  </div>
  <hr style="border: 0.1em solid black">
</div>

<div class="row" *ngIf="stocksHeld && stocksHeld.length > 0">
  <form [formGroup]="sellForm" (ngSubmit)="sellShares(sellForm.value)" autocomplete="off">
    <div class="col-md-9">
      <div class="btn-group" *ngFor="let stock of stocksHeld" style="float:right;">
        <button (click)="setStockForSale(stock.symbol)" type="button" class="btn btn-primary" style="margin-right: 0.5em;">{{stock.symbol}}</button>
      </div>
    </div>
    <div class="col-md-1">
      <input [(ngModel)]="stockForSaleSymbol" [ngModelOptions]="{standalone: true}" readonly="readonly" id="symbol" style="display:table-cell; width:100%">
    </div>
    <div class="col-md-1">
        <input [ngClass]="invalidQuantity() ? 'background: red' : 'background: white'"
          placeholder="qty" id="sellingQuantity" formControlName="quantity" class="form-control" type="number" style="display:table-cell; width:100%">
    </div>
    <div class="col-md-1">
      <button class="btn btn-success btn-block" type="submit">Sell</button>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-md-2" style="margin-left: 1em;">
    <h4 (click)="toggleSold()">
      Sold <span [ngClass]="soldVisible ? 'glyphicon glyphicon-minus' : 'glyphicon glyphicon-plus'"></span>
    </h4>
  </div>
</div>
<div *ngIf="soldVisible">
  <app-tabletop></app-tabletop>
  <div *ngFor="let stock of stocksSold">
    <div class="row" style="margin-top:1em" *ngFor="let share of stock.shares">
      <div class="col-md-4">
        <div class="col-md-4">{{stock.displayName}}</div>
        <div class="col-md-2" style="word-wrap: break-word;">{{stock.exchange}}</div>
        <div class="col-md-2">{{stock.symbol}}</div>
        <div class="col-md-2">{{share.dateIn | date:'dd/MM/yyyy'}}</div>
        <div class="col-md-2">{{share.dateOut | date:'dd/MM/yyyy'}}</div>
      </div>
      <div class="col-md-4" style="text-align:right">
        <div class="col-md-2">{{share.quantity}}</div>
        <div class="col-md-3"></div>
        <div class="col-md-3">{{getCost(share.quantity, share.purchasePrice) * currencyMultiplier | number:'1.2-2'}}</div>
        <div class="col-md-2">{{share.purchasePrice * currencyMultiplier | number:'1.2-2'}}</div>
        <div class="col-md-2">{{share.sellingPrice * currencyMultiplier | number:'1.2-2'}}</div>
      </div>
      <div class="col-md-4" style="text-align:right">
        <div class="col-md-2" style="text-align:right">{{getSellingValue(share.sellingPrice, share.quantity) * currencyMultiplier | number:'1.2-2'}}</div>
        <div class="col-md-3" [ngClass]="getSoldDetailGainLoss(share.purchasePrice, share.quantity, share.sellingPrice, share.sellingCosts) * currencyMultiplier < 0 ? 'red' : 'green'">
          {{getSoldDetailGainLoss(share.purchasePrice, share.quantity, share.sellingPrice, share.sellingCosts) * currencyMultiplier | number:'1.2-2'}}
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-2" [ngClass]="getSoldGainLossPercentage(share.sellingPrice, share.quantity, share.purchasePrice, share.sellingCosts) < 0 ? 'red' : 'green'">
          {{getSoldGainLossPercentage(share.sellingPrice, share.quantity, share.purchasePrice, share.sellingCosts) | percent: '1.0-0'}}
        </div>
        <div class="col-md-2">{{share.sellingCosts}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4" style="text-align: center;">
        <div class="col-md-2"></div>
        <div class="col-md-3">{{getTotalSoldQuantity(stock.symbol)}}</div>
        <div class="col-md-7"></div>
      </div>
      <div class="col-md-4" style="text-align: center;">
        <div class="col-md-5"></div>
        <div class="col-md-3" [ngClass]="getTotalSoldGainLoss(stock.symbol) * currencyMultiplier < 0 ? 'red' : 'green'">{{getTotalSoldGainLoss(stock.symbol) * currencyMultiplier | number:'1.2-2'}}</div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>
